{% extends "admin/_base.html" %}
{% block content %}
<form method="post" action="" enctype="multipart/form-data">
    <input type="hidden" name="id" value="{{id}}"/>
    <input type="hidden" name="csrftoken" value="{{csrftoken}}"/>
    <div class="text-muted">Data may be html and difficult to read, in order to keep visitors safe.</div>
    <div><textarea class="w-100" disabled rows="10">{{data}}</textarea></div>
    <div>
        <ul class="list-group">
            <li class="list-group-item">External links found:</li>
            {% for link in links %}
            <li class="list-group-item"><a href="{{link}}" target="_blank">{{link}}</a></li>
            {% else %}
            <li class="list-group-item">No external links found.</li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <button type="submit" class="btn btn-danger mr-3" name="action" value="forbid">Forbid</button>
        <button type="submit" class="btn btn-success" name="action" value="confirm">Confirm</button>
    </div>
</form>
{% endblock %}